name: Build CUDA Wheels

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag of llama-cpp-binaries to build: v0.1.0'
        default: 'v0.1.0'
        required: true
        type: string
      config:
        description: 'Override configurations to build: key1:item1-1,item1-2;key2:item2-1,item2-2'
        default: 'Default'
        required: false
        type: string
      exclude:
        description: 'Exclude build configurations: key1-1:item1-1,key1-2:item1-2;key2-1:item2-1,key2-2:item2-2'
        default: 'None'
        required: false
        type: string
  workflow_call:
    inputs:
      version:
        description: 'Version tag of llama-cpp-binaries to build: v0.1.0'
        default: 'v0.1.0'
        required: true
        type: string
      config:
        description: 'Configurations to build: key1:item1-1,item1-2;key2:item2-1,item2-2'
        default: 'Default'
        required: false
        type: string
      exclude:
        description: 'Exclude build configurations: key1-1:item1-1,key1-2:item1-2;key2-1:item2-1,key2-2:item2-2'
        default: 'None'
        required: false
        type: string

permissions:
  contents: write

jobs:
  define_matrix:
    name: Define Build Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    defaults:
      run:
        shell: pwsh
    env:
      CONFIGIN: ${{ inputs.config }}
      EXCLUDEIN: ${{ inputs.exclude }}

    steps:
      - name: Define Job Output
        id: set-matrix
        run: |
          $matrix = @{
              'os' = @('windows-2022')
              'pyver' = @("3.11")
              'cuda' = @("12.4.1")
              'avxver' = @("AVX512")
          }

          if ($env:CONFIGIN -ne 'Default') {$env:CONFIGIN.split(';').foreach({$matrix[$_.split(':')[0]] = $_.split(':')[1].split(',')})}

          if ($env:EXCLUDEIN -ne 'None') {
              $exclusions = @()
              $exclusions += $env:EXCLUDEIN.split(';').replace(':','=').replace(',',"`n") | ConvertFrom-StringData
              $matrix['exclude'] = $exclusions
          }

          $matrixOut = ConvertTo-Json $matrix -Compress
          Write-Output ('matrix=' + $matrixOut) >> $env:GITHUB_OUTPUT

  build_wheels:
    name: Build Wheel ${{ matrix.os }} ${{ matrix.pyver }} ${{ matrix.cuda }} ${{ matrix.avxver }}
    needs: define_matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{ fromJSON(needs.define_matrix.outputs.matrix) }}
    defaults:
      run:
        shell: pwsh
    env:
      CUDAVER: ${{ matrix.cuda }}
      AVXVER: ${{ matrix.avxver }}
      PCKGVER: ${{ inputs.version }}

    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@v1.3.1
        if: runner.os == 'Linux'
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          swap-storage: true

      - uses: actions/checkout@v4
        with:
          repository: 'oobabooga/llama-cpp-binaries'
          ref: ${{ inputs.version }}
          submodules: 'recursive'

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.pyver }}

      - name: Install CUDA Toolkit
        uses: Jimver/cuda-toolkit@v0.2.29
        id: cuda-toolkit
        with:
          cuda: ${{ matrix.cuda }}
          method: 'network'

      - name: Setup CUDA Environment
        run: |
          echo "CUDA_PATH=$env:CUDA_PATH" >> $env:GITHUB_ENV
          echo "CUDA_HOME=$env:CUDA_PATH" >> $env:GITHUB_ENV
          if ($IsLinux) {
            echo "LD_LIBRARY_PATH=$env:CUDA_PATH/lib64:$env:LD_LIBRARY_PATH" >> $env:GITHUB_ENV
          }

      - name: Verify CUDA
        run: nvcc --version

      - name: Install Dependencies
        run: python -m pip install build

      - name: Build Wheel
        run: |
          $packageVersion = [version]$env:PCKGVER.TrimStart('v')
          $cudaVersion = $env:CUDAVER.Remove($env:CUDAVER.LastIndexOf('.')).Replace('.','')

          $env:VERBOSE = '1'
          $env:CMAKE_ARGS = '-DGGML_CUDA=on -DCMAKE_CUDA_ARCHITECTURES=all'

          if ($IsWindows) {
              $env:CMAKE_ARGS = $env:CMAKE_ARGS + ' -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded'
          }

          $env:CMAKE_ARGS = "-DGGML_NATIVE=off $env:CMAKE_ARGS"

          if ($env:AVXVER -eq 'AVX') {
            $env:CMAKE_ARGS = $env:CMAKE_ARGS + ' -DGGML_AVX2=off -DGGML_FMA=off -DGGML_F16C=off'
            $cputag = 'avx'
          }
          if ($env:AVXVER -eq 'AVX512') {
            $env:CMAKE_ARGS = $env:CMAKE_ARGS + ' -DGGML_AVX512=on -DGGML_AVX512_VBMI=on -DGGML_AVX512_VNNI=on'
            $cputag = 'avx512'
          }
          if ($env:AVXVER -eq 'basic') {
            $env:CMAKE_ARGS = $env:CMAKE_ARGS + ' -DGGML_AVX=off -DGGML_AVX2=off -DGGML_FMA=off -DGGML_F16C=off'
            $cputag = 'basic'
          }

          $env:LLAMA_CPP_BUILD_JOBS = "2"

          # Copy CUDA libraries
          $binDir = "llama_cpp_binaries/bin"
          New-Item -ItemType Directory -Force -Path $binDir | Out-Null

          if ($IsLinux) {
              if ($env:CUDAVER -eq "12.4.1") {
                  $libsToFind = @("libcudart.so.12", "libcublas.so.12", "libcublasLt.so.12")
              }

              foreach ($lib in $libsToFind) {
                  $foundFiles = Get-ChildItem -Path "$env:CUDA_PATH/lib64" -Filter "$lib*" -File | Select-Object -First 1
                  if ($foundFiles) {
                      bash -c "cp -L '$($foundFiles.FullName)' '$binDir/$lib'"
                      Write-Host "Copied $($foundFiles.FullName) to $binDir/$lib"
                  } else {
                      Write-Warning "Could not find $lib"
                  }
              }
          } else {
              if ($env:CUDAVER -eq "12.4.1") {
                  $libsToFind = @("cublas64_12.dll", "cudart64_12.dll", "cublasLt64_12.dll")
              }

              foreach ($lib in $libsToFind) {
                  $foundFiles = Get-ChildItem -Path "$env:CUDA_PATH/bin" -Filter $lib -File | Select-Object -First 1
                  if ($foundFiles) {
                      Copy-Item -Path $foundFiles.FullName -Destination "$binDir/$lib"
                      Write-Host "Copied $($foundFiles.FullName) to $binDir/$lib"
                  } else {
                      Write-Warning "Could not find $lib"
                  }
              }
          }

          $buildtag = "+cu$cudaVersion$cputag"
          python -m build --wheel -C--build-option=egg_info "-C--build-option=--tag-build=$buildtag"

      - name: Upload files to a GitHub release
        id: upload-release
        uses: svenstaro/upload-release-action@2.7.0
        continue-on-error: true
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./dist/*.whl
          tag: ${{ inputs.version }}
          file_glob: true
          make_latest: false
          overwrite: true

      - uses: actions/upload-artifact@v4
        if: steps.upload-release.outcome == 'failure'
        with:
          name: wheel-${{ matrix.os }}-${{ matrix.cuda }}-${{ matrix.avxver }}
          path: ./dist/*.whl
